.Table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 88%;
  margin: 20px auto;
  border-radius: 5px;
  overflow: hidden;
}

.Table td {
  border: 1px solid #d5ebff;
  padding: 8px;
}

.Table th {
  border: 1px solid #266baa;
  padding: 8px;
}

.Table tr:nth-child(even){background-color: #f0f8ff;}

.Table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2f79bd;
  color: black;
  font-weight: 600;
  text-align: center;
}

.tablePrefix {
  width: 80%;
  margin: 15px auto;
  padding-left: 30px;
}