.OurStaff .ourStaffMainHolder, .OurStaff .title{
    margin: 20px 30px 10px;
}

.ourStaffMainText {
    display: flex;
    flex-direction: column;
}

.ourStaffMainHolder img {
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    transition: .5s;
}

.ourStaffMainHolder img:hover {
    transform: scale(1.03);
}

.ourStaffMainHolder ul {
    margin: 0px 30px;
}

.ourStaffMainHolder:nth-child(even) {
    flex-direction: row-reverse;
}