.HazardAndRisk .hazardAndRiskMainText, .HazardAndRisk .title{
    margin: 20px 30px 10px;
}

.hazardAndRiskMainText {
    display: flex;
    flex-direction: column;
}

.hazardAndRiskMainText p {
    text-align: left;
}

.hazardAndRiskMainText .react-tabs__tab-panel ul {
    text-align: left;
}

.hazardAndRiskMainText ul.react-tabs__tab-list {
    margin: 0px 30px;
    border-color: #266baa;
}

.hazardAndRiskMainText ul.react-tabs__tab-list > li {
    border-color: #266baa;
    border-radius: 5px 5px 0 0;
    margin: 0 4px;
    padding: 8px;
    max-width: 160px;
    display: inline-flex;
    height: 40px;
    font-weight: 600;
}

.hazardAndRiskMainText img {
    margin: 10px;
    border-radius: 5px;
    transition: 0.5s;
}

.hazardAndRiskMainText img:hover {
    transform: scale(1.03);
}

.tabHolder {
    margin: 25px 0;
}