.About {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 0px auto;
}

.contactsHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.address p {
  text-align: start;
}

.contacts {
  display: flex;
  flex-direction: column;
}
