.About {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 0px auto;
}

.contactsHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.mapHolder {
  display: flex;
  justify-content: center;
}

.mapHolder > div {
  border: 1px solid #2f79bd;
  border-radius: 2px;
}

.address p {
  text-align: start;
}

.contacts {
  display: flex;
  flex-direction: column;
}
