.Gis .gisMainText, .Gis .title{
    margin: 20px 30px 10px;
}

.gisMainText {
    display: flex;
    flex-direction: column;
}

.gisMainText img {
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    transition: .5s;
}

.gisMainText img:hover {
    transform: scale(1.03);
}

.gisMainText ul {
    margin: 0px 30px;
}